/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 60px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.list-inline {
  white-space:nowrap;
}

.video-queue-list {
  overflow-x:scroll;
  overflow-y:hidden;
  width:100%;
  height: 60px;
}

.search-result-list {
  overflow-x:scroll;
  overflow-y:hidden;
  width:100%;
}

.search-result-list > .list-inline {
  margin: 0px;
}

.dropdown-menu a {
    white-space:normal;
}

/*.container-fluid {
  padding: 20px;
  height: 100%;
}

.video-player {
  height: 100%;
  width: 100%;
  background-color: BLACK;
}

.row {
  height: 100%;
}

.panel {
  height: calc(100% - 48px);
}

.panel-body {
  height: 100%;
  padding: 0px;
}

.media-list {
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

.media-body {
  width: 100vw;
}

#player_container, #results_containter, #queue_container {
  height: 100%;
}

img {
    max-width: calc(100%);
    max-height: calc(100%);
}*/


